div.barralateral2{
    width: 10%; 
    height: 100%;
    display: inline-block;
    position: relative;
    background-color:#ff2424;
    float: right;
}
div.grancuadrado{
    width: 80%; 
    height: 100%;
    display: inline-block;
    position: relative;
    float: right;
    background-color:#148128;
}
div.articulo1{
    width: 100%; 
    height: 10%;
    display: inline-block;
    position: relative;
    margin-top: 100%;
    background-color:#146181;
    border-style:groove;
}
div.articulo2{
    width: 100%; 
    height: 10%;
    display: inline-block;
    position: relative;
    margin-top: 20%;
    background-color:#146181;
    border-style:groove;
}
div.barralateral1{    
    width: 10%; 
    height: 100%;
    display: inline-block;
    position: relative;
    background-color:#ff3333; 
}
div.cuadrado1{
    width: 100%; 
    height: 16.9%;
    display: inline-block;
    position: relative;
    background-color:#148128;
    border-style:groove;
}
div.cuadrado2{
    width: 100%; 
    height: 71%;
    display: inline-block;
    position: relative;
    background-color:goldenrod;
    border-style:groove;
}
div.cuadrado3{
    width: 100%; 
    height: 10%;
    display: inline-block;
    position: relative;
    background-color:burlywood;
    border-style:groove;
}
div.subcuadrado1{
    width: 99.5%; 
    height: 49%;
    display: inline-block;
    position:relative;
    background-color:goldenrod;
    border-style:groove; 
}
div.subcuadrado2{
    width: 99.5%; 
    height: 49%;
    display: inline-block;
    position:relative;
    background-color:goldenrod;
    border-style:groove; 
}
div.linkarticulo1{
    width: 100%; 
    height: 10%;
    display: inline-block;
    position: relative;
    margin-top: 100%;
    background-color:#146181;
}
div.subcuadrado5{
    width: 11%; 
    height: 31%;
    display: inline-block;
    margin-top: 2%;
    margin-left: 16.4%;
    position:relative;
    background-color:#146181;
    border-style:groove; 
}
div.subcuadrado6{
    width: 11%; 
    height: 31%;
    display: inline-block;
    margin-top: 2%;
    margin-left: 16.4%;
    position:relative;
    background-color:#146181;
    border-style:groove; 
}
div.subcuadrado7{
    width: 11%; 
    height: 31%;
    display: inline-block;
    margin-top: 2%;
    margin-left: 16.4%;
    position:relative;
    background-color:#146181;
    border-style:groove; 
}
div.division1{
    width: 30%; 
    height: 100%;
    display: inline-block;
    float:left;
    position:relative;
}
div.division2{
    width: 30%; 
    height: 100%;
    display: inline-block;
    margin-left:2%;
    position:relative;
    float:right;
}
div.link1{
    width: 40%; 
    height: 25%;
    display:inlne-block;
    margin-left: 5%;
    margin-top: 3%;
    position:relative;
    background-color:#146181;
    border-style:groove; 
}
div.link2{
    width: 40%; 
    height: 25%;
    display: inline-block;
    margin-left: 5%;
    margin-top: 7%;
    position:relative;
    background-color:#146181;
    border-style:groove;
}
div.link3{
    width: 40%; 
    height: 25%;
    display:block;
    margin-left: 55%;
    margin-top: 3%;
    position:relative;
    background-color:#146181;
    border-style:groove; 
}
div.link4{
    width: 40%; 
    height: 25%;
    display: inline-block;
    margin-left: 55%;
    margin-top: 7%;
    position:relative;
 
    background-color:#146181;
    border-style:groove;
}
div.foto1{
    width: 30%; 
    height: 82%;
    display: inline-block;
    margin-left:5%;
    margin-top:0.5%;
    position:relative;
    background-color:#146181;
    border-style:groove;
}